// 헤더가 나타나는 트리거 영역 (투명)
.hoverArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px; // 마우스를 가져가면 헤더가 나오는 영역
  z-index: 10;
}

// 헤더 스타일
.container {
  width: 100%;
  height: 50px;
  color: $dark-main;
  position: absolute;
  top: -50px; // 기본적으로 화면 위쪽에 숨김
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}

.fixContainer {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  color: $dark-main;
}

// 마우스가 올라가면 나타남
.visible {
  top: 0;
  opacity: 1;
}

// 리스트 스타일
.list {
  display: flex;
  gap: 10px;

  p {
    font-size: 15px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

.title {
  font-size: 18px;
  font-family: "akony" !important;

  &:hover {
    cursor: pointer;
  }
}

.voidButton {
  width: 100px;
  height: 35px;
}

// 버튼 스타일
.button {
  width: 100px;
  padding : 10px;
  background: $dark-main;
  border-radius: 10px;
  display: flex;
  background: none;
  color: $dark-surface;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

// 작은 화면 대응
@media screen and (max-width: 500px) {
  .button {
    width: 35px;
    font-size: 10px;
  }
}

// 다크 테마
html[data-theme="dark"] {
  .container {
    color: $dark-main;
  }

  .button {
    border: 1px solid $dark-main;
    color: $dark-main;
  }
}

// 화이트 테마
html[data-theme="white"] {
  .container {
    color: $white-main;
  }

  .button {
    border: 1px solid $white-main;
    color: $white-main;
  }
}

