//dark
$dark-main : #fff;
$dark-surface : #0B0A0C;
$dark-second : rgba(253, 253, 253, 0.7);
$dark-border-one : rgba(255,255,255,0.3);
$dark-border-two : rgba(255,255,255,0.2);
$dark-border-three : rgba(255,255,255,0.1);


//white
$white-main : #0B0A0C;
$white-surface : #fff;
$white-second : rgba(170, 170, 170, 0.5);
$white-border-one : rgba(11,10,12,0.3);
$white-border-two : rgba(11,10,12,0.2);
$white-border-three : rgba(11,10,12,0.1);